@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;400;800&display=swap');

.container
{
    overflow: hidden;
    width: auto;
    text-align: right;
    margin: auto;
    padding-top: 50px;
    padding-right: 120px;
    font-weight: 100;
}
.container a{
    padding: 35px;
}
body
{
    background-image: url("../images/backgrounds/Group 82.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px 0px;
    height: 100vh;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    font-family: 'JetBrains Mono';
    font-weight: 100;
    font-size: 20px;
    
}
.main-line
{
    padding: 10px;
    display: flex;
    color: #FFFFFF;
    vertical-align: top;
    font-size: 3rem;
    width: 700px;
    height: 700px;
}
.main-box
{
    padding-left: 90px;
    padding-top: 75px;

}
.text-box
{
    padding-top: 100px;
    padding-left: 280px;
    text-align: right;
    line-height: 120%;
    font-size: 64px;
}
.ba
{
    margin-top: 60px;
    text-align: center;
    border-radius: 60px;
    border: 2px solid;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 3rem;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 100;
    font-size: 48px;
    line-height: 120%;
    color: #FFFFFF;
}  
.i24
{
    position: absolute;
    left: 31.17%;
    right: 12.84%;
    top: 9.78%;
    bottom: -40%;
    font-family: 'JetBrains Mono';
    font-weight: 700;
    font-size: 900px;
    line-height: 120%;
    display: flex;
    align-items: center;
    letter-spacing: -0.05em;
    color: #9F9F9F;
    opacity: 0.03;
}